<div class="container">
    <div class="row">
        <form name="inscriptionForm" novalidate ng-submit="$ctrl.saveUser(inscriptionForm, $ctrl.user)" class="well">
                <h2>Inscription</h2>
            <div class="form-group ">
                <label>Pseudo</label>
                <input ng-model="$ctrl.user.username" name='username' id="username" type="text" class="form-control" required>
                <p ng-if="inscriptionForm.username.$invalid && inscriptionForm.username.$dirty"  class="text-danger">
                    Votre pseudo est incorrect
                </p>
            </div>
            <div class="form-group ">
                <label>email</label>
                <input ng-model="$ctrl.user.email" name='email' id="email" type="email" class="form-control" required>
                <p ng-if="inscriptionForm.email.$invalid && inscriptionForm.email.$dirty"  class="text-danger">
                    Veuillez renseigner une adresse email correct
                </p>
            </div>
            <div class="form-group ">
                <label>Mot de passe</label>
                <input ng-model="$ctrl.user.password" name='password' id="password" ng-minlength='6' type="password" class="form-control" required>
                <p ng-if="inscriptionForm.password.$invalid && inscriptionForm.password.$dirty && inscriptionForm.password.$error.minlength" class="text-danger">
                    Votre mot de passe dois contenir minimum 6 caractères
                </p>
            </div>
            <button type="submit" class="btn btn-primary">Créer un compte</button>
        </form>
    </div>
</div>